VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVER_URL=
SUPABASE_SERVICE_ROLE_KEY=
BRIGHTDATA_API_TOKEN=
BRIGHTDATA_TIKTOK_PROFILES_DATASET=gd_l1villgoiiidt09ci
BRIGHTDATA_TIKTOK_POSTS_BY_PROFILE_DATASET=gd_m7n5v2gq296pex2f5m
CACHE_FRESHNESS_HOURS=6
